---
import Sidebar from "../components/sidebar/Sidebar.astro";
import Layout from "./Layout.astro";
import Header from "../components/header/header.astro";
import getDataUser from "../helper/functions/getDataUser.js";


interface props {
  title: string;
  titleHeader: string;
}
const { title, titleHeader } = Astro.props;

// Obtener los datos de localStorage usando la función externa de JavaScript
const sidebardata = getDataUser();

  
---

<Layout title={title}>
  <Sidebar
    name={sidebardata.nombre}
    img={sidebardata.urlImg}
    rol={sidebardata.idrol}
  />

  <div class="w-full">
    <Header titulo={titleHeader} />
    <div class="px-5 sm:px-10 py-5 min-w-screen">
      <slot />
    </div>
  </div>
</Layout>
<script>
  
</script>