---
import LayoutGeneral from "../layouts/LayoutGeneral.astro";
import BotonPrueba from "../components/BotonPrueba.jsx";

//export const prerender = false

const response = await fetch('http://localhost:8000/api/v1/prueba/personas/');
const data = await response.json();

console.log(data);

---
<LayoutGeneral>
    <BotonPrueba client:load />

    <div class="grid-cols-2 grid">
    {
        data.map((value)=>(
                <div class="flex gap-2 p-2 flex-col">
                    <p>Nombre: {value.nombre}</p>
                    <p>Documento: {value.numerodocumento}</p>
                    <p>Comuna: {value.comuna}</p>
                    <p>Barrio: {value.barrio}</p>
                    <p>Correo: {value.correo}</p>
                    <p>urlImg: {value.urlImg}</p>
                    <p>Sexo: {value.sexo}</p>
                    <p>Fecha registro: {value.fecharegistro}</p>
                    <p>Fecha ingreso: {value.fechaingreso}</p>
                    <p>Fecha nacimiento: {value.fechanacimiento}</p>
                    <p>Edad: {value.edad}</p>
                    <p>Colegio: {value.institutoprocedencia}</p>
                    <p>Direccion: {value.direccion}</p>
                </div>
        ))
    }
    </div>

</LayoutGeneral>
