---
interface Props{
  number:string;
  archivement:string;
  date:string;
  state:string;
  type:string;
}

const {number, archivement, state, type, date} = Astro.props;
---
{/*ESTÁ VISTA PUEDE SER PROBABLEMENTE BORRADA*/}

  
  <div class="flex p-5 gap-7  border-b-2 border-b-placeholderBlue justify-between items-center">
    <div class="flex items-center font-paragraph2 font-cocogooseLight text-black  w-12 max-w-12 flex-auto"><p>{number}</p></div>

    <div class="flex items-center font-paragraph2 font-cocogooseLight text-black  w-full max-w-[300px] flex-auto "><p>{archivement}</p></div>

    <div class="flex items-center font-paragraph2 font-cocogooseLight text-black  w-full max-w-[150px] flex-auto"><p>{date}</p></div>


    <div class:list={["font-paragraph2 font-cocogooseLight text-black flex flex-row w-full max-w-[150px] rounded-md p-1.5 gap-2.5 flex-auto",
      {
        "bg-greenFull/50 text-greenFull":state==='Aceptado',
        "bg-redFull/50 text-redFull":state==='Rechazado',
        "bg-orange/50 text-orange":state==='Enviado'
        
    }
]}>

<a><i class="fa-solid fa-circle"></i></a>
<p class="">{state}</p>
</div>

<div class="flex items-center font-paragraph2 font-cocogooseLight text-black  w-full max-w-[100px] flex-auto flex-auto"><p>{type}</p></div>

</div>

